<div class='row'>
  <div class='col-lg-10'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Product Title</h3>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class='col-lg-9'>
            <table class="table">
              <tr>
                <td>Title</td>
                <td></td>
              </tr>
              <tr>
                <td>Description</td>
                <td></td>
              </tr>
              <tr>
                <td>Image URL</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </table>
            <h4>Reviews</h4>
            <ul>
              <li><a href='#/products/1/reviews/1'>Review 1</a></li>
              <li><a href='#/products/1/reviews/2'>Review 2</a></li>
              <li><a href='#/products/1/reviews/3'>Review 3</a></li>
            </ul>
          </div>
          <div class='col-lg-3'>
            <a class='btn btn-default btn-block' href='#/products/1/edit'>Edit</a>
            <button type='button' class='btn btn-default btn-block'>Delete</a>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12'>
            <a class='btn btn-default' href='#/'>Return</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-2'>
  </div>
</div>
