<div class='row'>
  <div class='col-lg-10'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Review Title</h3>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class='col-lg-9'>
            <table class="table">
              <tr>
                <td>Title</td>
                <td></td>
              </tr>
              <tr>
                <td>Author</td>
                <td></td>
              </tr>
              <tr>
                <td>Review</td>
                <td></td>
              </tr>
              <tr>
                <td>Sentiment</td>
                <td></td>
              </tr>
              <tr>
                <td>Rating</td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class='col-lg-3'>
            <a class='btn btn-default btn-block' href='#/products/1/edit'>Edit</a>
            <button type='button' class='btn btn-default btn-block'>Delete</a>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12'>
            <a class='btn btn-default' href='#/'>Return</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-2'>
  </div>
</div>
